<h3>Comments</h3>
{{ $comments := readDir "data/comments" }}
{{ $.Scratch.Add "hasComments" 0 }}
{{ $entryId := .UniqueID }}

<section class="comment-list">
{{ range $comments }}
  {{ if eq .Name $entryId }}

      {{ $.Scratch.Add "hasComments" 1 }}
      {{ range $index, $comments := (index $.Site.Data.comments $entryId) }}
        <article class="row">
          <div class="col-md-2 col-sm-2 hidden-xs">
              <figure class="thumbnail">
                <figcaption class="text-center"><strong>{{ .name }}</strong><br> {{ dateFormat "01/02/2006" .date }}</figcaption>
              </figure>
            </div>
          {{ .message | markdownify }}
        </article>
      {{ end }}       
    {{ end }}       
{{ end }}
</section>

{{ if eq ($.Scratch.Get "hasComments") 0 }}
  <p>Hey, be the first to comment on this article.</p>
{{ end }}